# Example environment variables
FRESHDESK_DOMAIN = "yourcompany"  # https://yourcompany.freshdesk.com
FRESHDESK_API_KEY = "your-api-key-here"
BASE_URL = f"https://{FRESHDESK_DOMAIN}.freshdesk.com/api/v2"
FRESHDESK_PASSWORD = "your-password-here"
SUPPORT_AGENT_ID = 1234567890
SUPPORT_EMPLOYEE_ID = 1234567891
SUPPORT_AGENT_INTERCOM_ID = 1234567892

FORBIDDEN_EMAIL_DOMAINS = "forbiddendomain.com"
FORBIDDEN_EMAIL_ADDRESSES = "forbidden@email.com"
ALLOWED_EMAIL_TLDS = "com,nl,co,org,net,eu,uk,de,be,fr,es,it,at,ch,io,edu,gov"

WEBHOOK_USERNAME = "webhook-username"
WEBHOOK_PASSWORD = "webhook-password"

# for local testing with ngrok, you can use a free ngrok domain and authtoken
NGROK_DOMAIN = "your-free-ngrok-domain-name.ngrok-free.dev" 
NGROK_AUTHTOKEN = "your-ngrok-authtoken-here"
# must be set with $env:NGROK_AUTHTOKEN="your-ngrok-authtoken-here" in the terminal

OLLAMA_HOST = "http://your.ip.address.here:port"
OLLAMA_MODEL = "your-ollama-model-name-here"