# Example environment variables
FRESHDESK_DOMAIN="yourcompany"  # https://yourcompany.freshdesk.com
FRESHDESK_API_KEY="your-api-key-here"
BASE_URL=f"https://{FRESHDESK_DOMAIN}.freshdesk.com/api/v2"
FRESHDESK_PASSWORD="your-password-here"
SUPPORT_AGENT_ID = 1234567890

WEBHOOK_USERNAME = "webhook-username"
WEBHOOK_PASSWORD = "webhook-password"

# for local testing with ngrok, you can use a free ngrok domain and authtoken
NGROK_DOMAIN = "your-free-ngrok-domain-name.ngrok-free.dev" 
NGROK_AUTHTOKEN = "your-ngrok-authtoken-here"
# must be set with $env:NGROK_AUTHTOKEN="your-ngrok-authtoken-here" in the terminal